[submodule "external/commonItems"]
	path = external/commonItems
	url = https://github.com/ParadoxGameConverters/commonItems.git
[submodule "external/Fronter"]
	path = external/Fronter
	url = https://github.com/ParadoxGameConverters/Fronter
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt.git
